.filters-group {
  display: flex;
  flex-direction: column;
}

/* .filter-groups-container {
  display: flex;
  flex-direction: column;
} */

.filters-heading {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
}

.filters-lists-container {
  list-style-type: none;
  padding: 0;
}

.filter-list-item {
  margin-bottom: 12px;
}

.filter-input-label {
  color: #ffffff;
  margin-left: 8px;
}

.filter-horizontal-line {
  height: 3px;
  width: 100%;
  background-color: #475569;
  border: none;
}
